# Import Libraries

In [42]:
#new branch Thucanh-code
import pandas as pd
import matplotlib.pyplot as plt

In [69]:
pd_options = {
'display.max_rows'    : 500,
'display.max_columns' : 500,
'display.width'       : 1000,
}

[pd.set_option(option, setting) for option, setting in pd_options.items()]

[None, None, None]

# Import dataset

In [44]:
df = pd.read_csv('loan.csv')

/var/folders/l0/y2ztlhpd3ksgsvm97s01txpm0000gn/T/ipykernel_23598/129683778.py:1: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('loan.csv')

# Part I: Exploratory Data Analysis

## 1. Examining the dataset

The datset looks like below:

In [70]:
df

            id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term int_rate  installment grade sub_grade                   emp_title emp_length home_ownership  annual_inc verification_status issue_d  loan_status pymnt_plan                                                url                                               desc             purpose                      title zip_code addr_state    dti  delinq_2yrs earliest_cr_line  inq_last_6mths  mths_since_last_delinq  mths_since_last_record  open_acc  pub_rec  revol_bal revol_util  total_acc initial_list_status  out_prncp  out_prncp_inv   total_pymnt  total_pymnt_inv  total_rec_prncp  total_rec_int  total_rec_late_fee  recoveries  collection_recovery_fee last_pymnt_d  last_pymnt_amnt next_pymnt_d last_credit_pull_d  collections_12_mths_ex_med  policy_code application_type  acc_now_delinq  chargeoff_within_12_mths  delinq_amnt  pub_rec_bankruptcies  tax_liens
0      1077501    1296599       5000         5000           4975.0   36 months   10.65%       162.87     B        B2                         NaN  10+ years           RENT     24000.0            Verified  Dec-11   Fully Paid          n  https://lendingclub.com/browse/loanDetail.acti...    Borrower added on 12/22/11 > I need to upgra...         credit_card                   Computer    860xx         AZ  27.65            0           Jan-85               1                     NaN                     NaN         3        0      13648     83.70%          9                   f       0.00           0.00   5863.155187          5833.84          5000.00         863.16                0.00        0.00                     0.00       Jan-15           171.62          NaN             May-16                         0.0            1       INDIVIDUAL               0                       0.0            0                   0.0        0.0
1      1077430    1314167       2500         2500           2500.0   60 months   15.27%        59.83     C        C4                       Ryder   < 1 year           RENT     30000.0     Source Verified  Dec-11  Charged Off          n  https://lendingclub.com/browse/loanDetail.acti...    Borrower added on 12/22/11 > I plan to use t...                 car                       bike    309xx         GA   1.00            0           Apr-99               5                     NaN                     NaN         3        0       1687      9.40%          4                   f       0.00           0.00   1008.710000          1008.71           456.46         435.17                0.00      117.08                     1.11       Apr-13           119.66          NaN             Sep-13                         0.0            1       INDIVIDUAL               0                       0.0            0                   0.0        0.0
2      1077175    1313524       2400         2400           2400.0   36 months   15.96%        84.33     C        C5                         NaN  10+ years           RENT     12252.0        Not Verified  Dec-11   Fully Paid          n  https://lendingclub.com/browse/loanDetail.acti...                                                NaN      small_business       real estate business    606xx         IL   8.72            0           Nov-01               2                     NaN                     NaN         2        0       2956     98.50%         10                   f       0.00           0.00   3005.666844          3005.67          2400.00         605.67                0.00        0.00                     0.00       Jun-14           649.91          NaN             May-16                         0.0            1       INDIVIDUAL               0                       0.0            0                   0.0        0.0
3      1076863    1277178      10000        10000          10000.0   36 months   13.49%       339.31     C        C1         AIR RESOURCES BOARD  10+ years           RENT     49200.0     Source Verified  Dec-11   Fully Paid          n  https://lendingclub.com/browse/loanDetail.acti...    Borrower added on 12/21/11 > to pay for prop...               other                   personel    917xx         CA  20.00            0           Feb-96               1                    35.0                     NaN        10        0       5598        21%         37                   f       0.00           0.00  12231.890000         12231.89         10000.00        2214.92               16.97        0.00                     0.00       Jan-15           357.48          NaN             Apr-16                         0.0            1       INDIVIDUAL               0                       0.0            0                   0.0        0.0
4      1075358    1311748       3000         3000           3000.0   60 months   12.69%        67.79     B        B5    University Medical Group     1 year           RENT     80000.0     Source Verified  Dec-11      Current          n  https://lendingclub.com/browse/loanDetail.acti...    Borrower added on 12/21/11 > I plan on combi...               other                   Personal    972xx         OR  17.94            0           Jan-96               0                    38.0                     NaN        15        0      27783     53.90%         38                   f     524.06         524.06   3513.330000          3513.33          2475.94        1037.39                0.00        0.00                     0.00       May-16            67.79       Jun-16             May-16                         0.0            1       INDIVIDUAL               0                       0.0            0                   0.0        0.0
...        ...        ...        ...          ...              ...         ...      ...          ...   ...       ...                         ...        ...            ...         ...                 ...     ...          ...        ...                                                ...                                                ...                 ...                        ...      ...        ...    ...          ...              ...             ...                     ...                     ...       ...      ...        ...        ...        ...                 ...        ...            ...           ...              ...              ...            ...                 ...         ...                      ...          ...              ...          ...                ...                         ...          ...              ...             ...                       ...          ...                   ...        ...
39712    92187      92174       2500         2500           1075.0   36 months    8.07%        78.42     A        A4             FiSite Research    4 years       MORTGAGE    110000.0        Not Verified  Jul-07   Fully Paid          n  https://lendingclub.com/browse/loanDetail.acti...  Our current gutter system on our home is old a...    home_improvement           Home Improvement    802xx         CO  11.33            0           Nov-90               0                     0.0                     0.0        13        0       7274     13.10%         40                   f       0.00           0.00   2822.969293          1213.88          2500.00         322.97                0.00        0.00                     0.00       Jul-10            80.90          NaN             Jun-10                         NaN            1       INDIVIDUAL               0                       NaN            0                   NaN        NaN
39713    90665      90607       8500         8500            875.0   36 months   10.28%       275.38     C        C1  Squarewave Solutions, Ltd.    3 years           RENT     18000.0        Not Verified  Jul-07   Fully Paid          n  https://lendingclub.com/browse/loanDetail.acti...  The rate of interest and fees incurred by carr...         credit_card  Retiring credit card debt    274xx         NC   6.40            1           Dec-86               1                     5.0                     0.0         6        0       8847     26.90%          9                   f       0.00           0.00   9913.491822          1020.51          8500.00        1413.49                0.00        0.00                     0.00       Jul-10           281.94          NaN             Jul-10                         NaN            1       INDIVIDUAL               0                       NaN            0                   NaN        NaN
39714    90395      90390       5000         5000           1325.0   36 months    8.07%       156.84     A        A4                         NaN   < 1 year       MORTGAGE    100000.0        Not Verified  Jul-07   Fully Paid          n  https://lendingclub.com/browse/loanDetail.acti...                                                NaN  debt_consolidation     MBA Loan Consolidation    017xx         MA   2.30            0           Oct-98               0                     0.0                     0.0        11        0       9698     19.40%         20                   f       0.00           0.00   5272.161128          1397.12          5000.00         272.16                0.00        0.00                     0.00       Apr-08             0.00          NaN             Jun-07                         NaN            1       INDIVIDUAL               0                       NaN            0                   NaN        NaN
39715    90376      89243       5000         5000            650.0   36 months    7.43%       155.38     A        A2                         NaN   < 1 year       MORTGAGE    200000.0        Not Verified  Jul-07   Fully Paid          n  https://lendingclub.com/browse/loanDetail.acti...                                                NaN               other                   JAL Loan    208xx         MD   3.72            0           Nov-88               0                     0.0                     0.0        17        0      85607      0.70%         26                   f       0.00           0.00   5174.198551           672.66          5000.00         174.20                0.00        0.00                     0.00       Jan-08             0.00          NaN             Jun-07                         NaN            1       INDIVIDUAL               0                       NaN            0                   NaN        NaN
39716    87023      86999       7500         7500            800.0   36 months   13.75%       255.43     E        E2            Evergreen Center   < 1 year            OWN     22000.0        Not Verified  Jun-07   Fully Paid          n  https://lendingclub.com/browse/loanDetail.acti...  I plan to consolidate over $7,000 of debt: a c...  debt_consolidation         Consolidation Loan    027xx         MA  14.29            1           Oct-03               0                    11.0                     0.0         7        0       4175     51.50%          8                   f       0.00           0.00   9195.263334           980.83          7500.00        1695.26                0.00        0.00                     0.00       Jun-10           256.59          NaN             Jun-10                         NaN            1       INDIVIDUAL               0                       NaN            0                   NaN        NaN

[39717 rows x 57 columns]

The dataset has 39,717 rows and 111 columns. And there are 3 data types: Float, Integer and Object

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

Primary columns of the dataset is 'id': A unique LC assigned ID for the loan listing 
and 'member_id': A unique LC assigned Id for the borrower member.

In [47]:
df['id'].nunique()

39717

In [48]:
df['member_id'].nunique()

39717

So that, there are 39717 loans in the dataset and each loan comes with an unique borrower.

## 2. Data Cleaning

### 1.1 Filtering Data

*The aim of this analysis is to to identify patterns which indicate if a person is likely to default.*

There are some columns that is not meaningful when come our aim, so that there is a need of dropping those columns

In [53]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'policy_code', 'application_type', 'acc_now_delinq',
       'chargeoff_within_12_mths', 'delinq_amnt', 'pub_rec_bankruptcies',
       'tax_liens'],
      dtype='object')

Column 'url': URL for the LC page with listing data and 'desc': Loan description provided by the borrower and 'emp_title':The job title supplied by the Borrower when applying for the loan will be dropped.

In [73]:
df.drop(columns = ['url', 'desc', 'emp_title'])

            id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term int_rate  installment grade sub_grade emp_length home_ownership  annual_inc verification_status issue_d  loan_status pymnt_plan             purpose                      title zip_code addr_state    dti  delinq_2yrs earliest_cr_line  inq_last_6mths  mths_since_last_delinq  mths_since_last_record  open_acc  pub_rec  revol_bal revol_util  total_acc initial_list_status  out_prncp  out_prncp_inv   total_pymnt  total_pymnt_inv  total_rec_prncp  total_rec_int  total_rec_late_fee  recoveries  collection_recovery_fee last_pymnt_d  last_pymnt_amnt next_pymnt_d last_credit_pull_d  collections_12_mths_ex_med  policy_code application_type  acc_now_delinq  chargeoff_within_12_mths  delinq_amnt  pub_rec_bankruptcies  tax_liens
0      1077501    1296599       5000         5000           4975.0   36 months   10.65%       162.87     B        B2  10+ years           RENT     24000.0            Verified  Dec-11   Fully Paid          n         credit_card                   Computer    860xx         AZ  27.65            0           Jan-85               1                     NaN                     NaN         3        0      13648     83.70%          9                   f       0.00           0.00   5863.155187          5833.84          5000.00         863.16                0.00        0.00                     0.00       Jan-15           171.62          NaN             May-16                         0.0            1       INDIVIDUAL               0                       0.0            0                   0.0        0.0
1      1077430    1314167       2500         2500           2500.0   60 months   15.27%        59.83     C        C4   < 1 year           RENT     30000.0     Source Verified  Dec-11  Charged Off          n                 car                       bike    309xx         GA   1.00            0           Apr-99               5                     NaN                     NaN         3        0       1687      9.40%          4                   f       0.00           0.00   1008.710000          1008.71           456.46         435.17                0.00      117.08                     1.11       Apr-13           119.66          NaN             Sep-13                         0.0            1       INDIVIDUAL               0                       0.0            0                   0.0        0.0
2      1077175    1313524       2400         2400           2400.0   36 months   15.96%        84.33     C        C5  10+ years           RENT     12252.0        Not Verified  Dec-11   Fully Paid          n      small_business       real estate business    606xx         IL   8.72            0           Nov-01               2                     NaN                     NaN         2        0       2956     98.50%         10                   f       0.00           0.00   3005.666844          3005.67          2400.00         605.67                0.00        0.00                     0.00       Jun-14           649.91          NaN             May-16                         0.0            1       INDIVIDUAL               0                       0.0            0                   0.0        0.0
3      1076863    1277178      10000        10000          10000.0   36 months   13.49%       339.31     C        C1  10+ years           RENT     49200.0     Source Verified  Dec-11   Fully Paid          n               other                   personel    917xx         CA  20.00            0           Feb-96               1                    35.0                     NaN        10        0       5598        21%         37                   f       0.00           0.00  12231.890000         12231.89         10000.00        2214.92               16.97        0.00                     0.00       Jan-15           357.48          NaN             Apr-16                         0.0            1       INDIVIDUAL               0                       0.0            0                   0.0        0.0
4      1075358    1311748       3000         3000           3000.0   60 months   12.69%        67.79     B        B5     1 year           RENT     80000.0     Source Verified  Dec-11      Current          n               other                   Personal    972xx         OR  17.94            0           Jan-96               0                    38.0                     NaN        15        0      27783     53.90%         38                   f     524.06         524.06   3513.330000          3513.33          2475.94        1037.39                0.00        0.00                     0.00       May-16            67.79       Jun-16             May-16                         0.0            1       INDIVIDUAL               0                       0.0            0                   0.0        0.0
...        ...        ...        ...          ...              ...         ...      ...          ...   ...       ...        ...            ...         ...                 ...     ...          ...        ...                 ...                        ...      ...        ...    ...          ...              ...             ...                     ...                     ...       ...      ...        ...        ...        ...                 ...        ...            ...           ...              ...              ...            ...                 ...         ...                      ...          ...              ...          ...                ...                         ...          ...              ...             ...                       ...          ...                   ...        ...
39712    92187      92174       2500         2500           1075.0   36 months    8.07%        78.42     A        A4    4 years       MORTGAGE    110000.0        Not Verified  Jul-07   Fully Paid          n    home_improvement           Home Improvement    802xx         CO  11.33            0           Nov-90               0                     0.0                     0.0        13        0       7274     13.10%         40                   f       0.00           0.00   2822.969293          1213.88          2500.00         322.97                0.00        0.00                     0.00       Jul-10            80.90          NaN             Jun-10                         NaN            1       INDIVIDUAL               0                       NaN            0                   NaN        NaN
39713    90665      90607       8500         8500            875.0   36 months   10.28%       275.38     C        C1    3 years           RENT     18000.0        Not Verified  Jul-07   Fully Paid          n         credit_card  Retiring credit card debt    274xx         NC   6.40            1           Dec-86               1                     5.0                     0.0         6        0       8847     26.90%          9                   f       0.00           0.00   9913.491822          1020.51          8500.00        1413.49                0.00        0.00                     0.00       Jul-10           281.94          NaN             Jul-10                         NaN            1       INDIVIDUAL               0                       NaN            0                   NaN        NaN
39714    90395      90390       5000         5000           1325.0   36 months    8.07%       156.84     A        A4   < 1 year       MORTGAGE    100000.0        Not Verified  Jul-07   Fully Paid          n  debt_consolidation     MBA Loan Consolidation    017xx         MA   2.30            0           Oct-98               0                     0.0                     0.0        11        0       9698     19.40%         20                   f       0.00           0.00   5272.161128          1397.12          5000.00         272.16                0.00        0.00                     0.00       Apr-08             0.00          NaN             Jun-07                         NaN            1       INDIVIDUAL               0                       NaN            0                   NaN        NaN
39715    90376      89243       5000         5000            650.0   36 months    7.43%       155.38     A        A2   < 1 year       MORTGAGE    200000.0        Not Verified  Jul-07   Fully Paid          n               other                   JAL Loan    208xx         MD   3.72            0           Nov-88               0                     0.0                     0.0        17        0      85607      0.70%         26                   f       0.00           0.00   5174.198551           672.66          5000.00         174.20                0.00        0.00                     0.00       Jan-08             0.00          NaN             Jun-07                         NaN            1       INDIVIDUAL               0                       NaN            0                   NaN        NaN
39716    87023      86999       7500         7500            800.0   36 months   13.75%       255.43     E        E2   < 1 year            OWN     22000.0        Not Verified  Jun-07   Fully Paid          n  debt_consolidation         Consolidation Loan    027xx         MA  14.29            1           Oct-03               0                    11.0                     0.0         7        0       4175     51.50%          8                   f       0.00           0.00   9195.263334           980.83          7500.00        1695.26                0.00        0.00                     0.00       Jun-10           256.59          NaN             Jun-10                         NaN            1       INDIVIDUAL               0                       NaN            0                   NaN        NaN

[39717 rows x 54 columns]

For the case dropping column 'emp_title', there are 28,820 unique values in this column while value with the most frequency only happens 134 times. This columns is consider less meaningful when come to identify default loan hence the need of removing.

In [71]:
df['emp_title'].value_counts()

US Army                              134
Bank of America                      109
IBM                                   66
AT&T                                  59
Kaiser Permanente                     56
                                    ...
Community College of Philadelphia      1
AMEC                                   1
lee county sheriff                     1
Bacon County Board of Education        1
Evergreen Center                       1
Name: emp_title, Length: 28820, dtype: int64

### 1.1. Missing values

Let's check how many missing values are in the dataset

In [49]:
df.isnull().sum()

id                                    0
member_id                             0
loan_amnt                             0
funded_amnt                           0
funded_amnt_inv                       0
term                                  0
int_rate                              0
installment                           0
grade                                 0
sub_grade                             0
emp_title                          2459
emp_length                         1075
home_ownership                        0
annual_inc                            0
verification_status                   0
issue_d                               0
loan_status                           0
pymnt_plan                            0
url                                   0
desc                              12940
purpose                               0
title                                11
zip_code                              0
addr_state                            0
dti                                   0
delinq_2yrs                           0
earliest_cr_line                      0
inq_last_6mths                        0
mths_since_last_delinq            25682
mths_since_last_record            36931
open_acc                              0
pub_rec                               0
revol_bal                             0
revol_util                           50
total_acc                             0
initial_list_status                   0
out_prncp                             0
out_prncp_inv                         0
total_pymnt                           0
total_pymnt_inv                       0
total_rec_prncp                       0
total_rec_int                         0
total_rec_late_fee                    0
recoveries                            0
collection_recovery_fee               0
last_pymnt_d                         71
last_pymnt_amnt                       0
next_pymnt_d                      38577
last_credit_pull_d                    2
collections_12_mths_ex_med           56
mths_since_last_major_derog       39717
policy_code                           0
application_type                      0
annual_inc_joint                  39717
dti_joint                         39717
verification_status_joint         39717
acc_now_delinq                        0
tot_coll_amt                      39717
tot_cur_bal                       39717
open_acc_6m                       39717
open_il_6m                        39717
open_il_12m                       39717
open_il_24m                       39717
mths_since_rcnt_il                39717
total_bal_il                      39717
il_util                           39717
open_rv_12m                       39717
open_rv_24m                       39717
max_bal_bc                        39717
all_util                          39717
total_rev_hi_lim                  39717
inq_fi                            39717
total_cu_tl                       39717
inq_last_12m                      39717
acc_open_past_24mths              39717
avg_cur_bal                       39717
bc_open_to_buy                    39717
bc_util                           39717
chargeoff_within_12_mths             56
delinq_amnt                           0
mo_sin_old_il_acct                39717
mo_sin_old_rev_tl_op              39717
mo_sin_rcnt_rev_tl_op             39717
mo_sin_rcnt_tl                    39717
mort_acc                          39717
mths_since_recent_bc              39717
mths_since_recent_bc_dlq          39717
mths_since_recent_inq             39717
mths_since_recent_revol_delinq    39717
num_accts_ever_120_pd             39717
num_actv_bc_tl                    39717
num_actv_rev_tl                   39717
num_bc_sats                       39717
num_bc_tl                         39717
num_il_tl                         39717
num_op_rev_tl                     39717
num_rev_accts                     39717
num_rev_tl_bal_gt_0               39717
num_sats                          39717
num_tl_120dpd_2m                  39717
num_tl_30dpd                      39717
num_tl_90g_dpd_24m                39717
num_tl_op_past_12m                39717
pct_tl_nvr_dlq                    39717
percent_bc_gt_75                  39717
pub_rec_bankruptcies                697
tax_liens                            39
tot_hi_cred_lim                   39717
total_bal_ex_mort                 39717
total_bc_limit                    39717
total_il_high_credit_limit        39717
dtype: int64

There are 54 columns only contains null values

In [50]:
sum(df.isnull().sum() == 39717)

54

Since there are no meaning to those columns, we will drop all-null columns out of the dataset for now.

In [51]:
df = df.dropna(axis = 1, how = 'all')
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'policy_code', 'application_type', 'acc_now_delinq',
       'chargeoff_within_12_mths', 'delinq_amnt', 'pub_rec_bankruptcies',
       'tax_liens'],
      dtype='object')

So, after dropping all null columns, the dataset has 39717 rows and 57 columns.

In [52]:
df.shape

(39717, 57)

In [57]:
df.head()
# term remove 'months', int_rate + revol_util remove '%'
# remove pymnt_plan only one value 'n'

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0,Jan-85,1,NaN,NaN,3,0,13648,83.70%,9,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-15,171.62,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0,Apr-99,5,NaN,NaN,3,0,1687,9.40%,4,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,small_business,real estate business,606xx,IL,8.72,0,Nov-01,2,NaN,NaN,2,0,2956,98.50%,10,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-14,649.91,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0,Feb-96,1,35.0,NaN,10,0,5598,21%,37,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-15,357.48,NaN,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0,Jan-96,0,38.0,NaN,15,0,27783,53.90%,38,f,524.06,524.06,3513.330000,3513.33,2475.94,1037.39,0.00,0.00,0.00,May-16,67.79,Jun-16,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

So that, there are some need to first filtering columns based on business sense. There are 4 types of records in the dataset: _Loan accepted - Fully paid, Loan accepted - Current, loan accepted - Charged off (defaulted)_. So that, the records that does not end (current) is not in scope because those records do not have a clear status of 'default' or 'not-default'. So that, we need to separate those records for now.

In [37]:
df['loan_status'].unique()

array(['Fully Paid', 'Charged Off', 'Current'], dtype=object)

In [38]:
df_current = df[df['loan_status'] == 'Current']
df_current.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,Jun-16,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
32,1065420,1299514,10000,10000,9975.0,60 months,15.96%,242.97,C,C5,...,Jun-16,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
39,1069346,1304237,12500,12500,12475.0,60 months,12.69%,282.44,B,B5,...,Jun-16,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
86,1063958,1297940,14000,14000,13975.0,60 months,17.27%,349.98,D,D3,...,Jun-16,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
95,1068575,1303001,15300,15300,15275.0,60 months,22.06%,423.10,F,F4,...,Jun-16,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

In [40]:
df = df[df['loan_status'] != 'Current']
df['loan_status'].unique()

array(['Fully Paid', 'Charged Off'], dtype=object)

Next, we will examine duplicated records. If there are any duplicated records, it will add in bias over some specific set of values which is not beneficial when applying machine learning models.

In [8]:
len(df)-len(df.drop_duplicates())

0

There are no duplicate records in the dataset.

### 1.1. Examine the types of columns

There are 3 types of data in dataset: float64, int64 and object. Let's dive deep into each datatype!

In [32]:
df.select_dtypes('object').columns

Index(['term', 'int_rate', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       'home_ownership', 'verification_status', 'issue_d', 'loan_status',
       'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code',
       'addr_state', 'earliest_cr_line', 'revol_util', 'initial_list_status',
       'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d',
       'application_type'],
      dtype='object')

Column: int_rate, grade, sub_grade, emp_length, zip_code, earliest_cr_line, revol_util
Column: issue_d, last_pymnt_d, next_pymnt_d, last_credit_pull_d

In [27]:
df.select_dtypes('float64').columns

Index(['funded_amnt_inv', 'installment', 'annual_inc', 'dti',
       'mths_since_last_delinq', 'mths_since_last_record', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_amnt',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_il_6m',
       'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il',
       'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
       'chargeoff_within_12_mths', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq',
       'mths_since_recent_inq', 'mths_since_recent_revol_delinq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
       'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
       'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies',
       'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object')

In [25]:
df.select_dtypes('int64').columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'delinq_2yrs',
       'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'total_acc',
       'policy_code', 'acc_now_delinq', 'delinq_amnt'],
      dtype='object')

### 1.3 Standardising values

## 2. Univariate Analysis

### 2.1. Business driven

### 1.4 Working with dates

In [ ]:
# filter out loan rejected records

In [ ]:
# filter out current loan records

In [ ]:
# create a loan_default_flag column

### 2.2. Type driven

### 2.3. Data driven

## 3. Segmented Univariate Analysis

## 4. Bivariate Analysis

# II. Data Preprocessing